h1,
h2,
br,
a {
  font-family: "Times New Roman", Times, serif;
}

h1,
h2 {
  font-size: medium;
}

.dark-grey {
  background-color: darkgrey;
}

.container {
  background-color: #222;
}

.image {
  border: 2px solid antiquewhite;
  width: 30%;
  height: 350px;
}

.image2 {
  width: 100px;
  height: 100px;
  float: right;
  border: 2px solid antiquewhite;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;
  background: #222;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}
